


<div class="row">
  <div class="col-sm-6">
    <h1>Skills</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_skill_path, class: 'btn btn-primary' do %>
    Add New Skill
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Color</th>
            <th>Description</th>
            
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <%= content_tag :tr, id: dom_id(skill), class: dom_class(skill) do %>
          
            <td><%= link_to skill.name, skill %></td>
          

                      <td><%= skill.color %></td>
                      <td><%= skill.description %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
