<%= form_with(model: freelancer_artist_profile, local: true) do |form| %>
  <% if freelancer_artist_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(freelancer_artist_profile.errors.count, "error") %> prohibited this freelancer_artist_profile from being saved:</h2>

      <ul>
      <% freelancer_artist_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :country_alpha2 %>
    <%= form.text_field :country_alpha2, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :pay_rate %>
    <%= form.text_field :pay_rate, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :availability %>
    <%= form.text_field :availability, class: 'form-control' %>
  </div>

  <div class="form-group">
  <div class="field">
    <%= form.label :notes %>
    <%= form.rich_text_area :rich_notes %>
  </div>
  </div>

  <div class="form-group">
    <%= form.label :website_url %>
    <%= form.text_field :website_url, class: 'form-control' %>
  </div>

  <div class="form-group">
        <label for="new_skill_name" class="new_skill_name">Add Skill</label>

      <%= form.fields_for :skills, freelancer_artist_profile.skills.build do |skills_fields| %>
    <%= skills_fields.text_field :name %>
  <% end %>
  </div>

  <div class="form-group">
    <%= form.label :charged_rate_list, "Charged Rate" %>
    <%= 
      form.text_field :charged_rate_list, 
      value: @freelancer_artist_profile.send(:charged_rate_list).to_s, 
      placeholder: 'Choose a number from 1-5'
    %>
  </div>

<div class="form-group">
  <label for="skill_ids" class="skill_ids">Skills</label>
  <%= form.collection_check_boxes :skill_ids, Skill.all, :id, :name  %>
  </div>
  <div class="form-group">
    <% if freelancer_artist_profile.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', freelancer_artist_profile, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if freelancer_artist_profile.persisted? %>
      <%= link_to "Cancel", freelancer_artist_profile, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", freelancer_artist_profiles_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
