<h2>Ability by Charge Rate Matrix</h2>
 <span class="charged-rate">Charged Rate (least to most, left to right)</span>
 <br>
 <span class="ability">Ability (least to most, top to bottom)</span>


<div class="ability-x-charged-rate matrix">
<% 
  cells             = (1..25).to_a
  ability           = 1
  charged_rate      = 0
  btn_hash_array    = []
  cell_width        = 5
  rate_category     = params[:charged_rate]
  ability_category  = params[:charged_rate]


  cells.each do |cell|
  charged_rate += 1
  btn_hash = {ability: ability, charged_rate: charged_rate}
  
  btn_hash_array << btn_hash

    if cell.modulo(cell_width) == 0
      ability += 1
      charged_rate  = 0
    end

  end

%>
  <% btn_hash_array.each do |btn| %>
    
    <% 
      selection_status = "border: 0;"
      if params[:charged_rate] == btn[:charged_rate].to_s && btn[:ability].to_s == params[:ability]
        selection_status = "background: orange;"
      end
    
    %>
    <%= link_to(freelancer_artist_profiles_path(:charged_rate => btn[:charged_rate], :ability => btn[:ability])) do %>
      <div class="grid-btn section " style='<%= selection_status %>'>
        <span style="color: yellow;justify: left;">
          <% (1..btn[:ability]).to_a.each do %>
          <i class="fas fa-star" ></i>
          <% end %>                
        </span> 
        &nbsp;&nbsp;&nbsp;
        <span style="color: green;justify: right;">
          <% (1..btn[:charged_rate]).to_a.each do %>
          <i class="fas fa-dollar-sign" style="color: green;"></i>
          <% end %>                
        </span> 
      </div>
    <% end %>

  <% end %>



  
</div>




<div class="row">
  <div class="col-sm-6">
    <h1>Freelancer_artist_profiles</h1>
  </div>

  
  <div class="col-sm-6 text-right">
  <%= link_to new_freelancer_artist_profile_path, class: 'btn btn-primary' do %>
    Add New Freelancer artist profile
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Country alpha2</th>
            <th>Pay rate</th>
            <th>Availability</th>
            <th>Website url</th>
            
      </tr>
    </thead>

    <tbody>
      <% @freelancer_artist_profiles.each do |freelancer_artist_profile| %>
        <%= content_tag :tr, id: dom_id(freelancer_artist_profile), class: dom_class(freelancer_artist_profile) do %>
          
            <td><%= link_to freelancer_artist_profile.name, freelancer_artist_profile %></td>
          

                      <td><%= freelancer_artist_profile.country_alpha2 %></td>
                      <td><%= freelancer_artist_profile.pay_rate %></td>
                      <td><%= freelancer_artist_profile.availability %></td>
                      <td><%= freelancer_artist_profile.website_url %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
